body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: aliceblue;
    margin: 0;
    padding: 0;

}
.ajuste{

    padding-left: 25px;
    padding-right: 25px; 
}
.titulo {

    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px; 
}

#pesq {
    flex-flow: row;
    justify-items: right;
    padding-bottom: 10px;
}

.esquerda {

    margin-left: 0;
}

.centro {
    text-align: center;

}

.direita {
    text-align: right;
}

.borda {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px#0a0a0a;

}

.button {
    padding: auto;
    width: 100px;
    height: 35px;
    color: #121212;
    background-color: #e3f2fd;
    border-radius: 5px;
}
footer#rodape p {
    text-align: center;
}

    @media only screen and (max-width: 510px) {
       
       div#usuarios{
            margin: auto;
            padding: auto; 
            float: left;
            background-color: #606060;
            

        }
    }