body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color:white;
    margin: 0;
    padding: 0;  
}

.titulo {
    margin-top: 10px;
}

.esquerda {

    text-align: left;
}

.centro {
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.direita {
    text-align: right;
}

.button {
    padding: auto;
    width: 50px;
    height:35px;
    color: #121212;
    background-color: #e3f2fd;
    border-radius: 5px;
}
.rodape {
    display:contents;
    background-color: #0a0a0a;
    color: #cccccc;
    text-align: right;
}
header {
    padding: 0px;
    color: #121212;
    background-color: #e3f2fd;
    font-size: 12px;
    height: 15px;
    border-radius: 10px;
    width: 100%;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;

}

.borda {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px#0a0a0a;
}

.borda1 {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px#7f8891;
}

iframe {
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    
}


